@tailwind base;
@tailwind components;
@tailwind utilities;

#merror {
  height: 100vh;
  width: 100vw;

  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 9%,
    transparent 9%
  );

  background-position: 0% 0%;
  background-size: 12vmin 12vmin;

  position: absolute;
  left: 0px;
  right: 0px;

  z-index: 1;

  transition: opacity 800ms ease, background-size 800ms ease;
}

.menu-items:hover ~ #merror {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}
